[submodule "thirdparty/RAFT"]
	path = thirdparty/RAFT
	url = https://github.com/princeton-vl/RAFT/
[submodule "thirdparty/conssitent_depth"]
	path = thirdparty/conssitent_depth
	url = https://github.com/facebookresearch/consistent_depth
